<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= image_tag(line_item.product.image_url) %></td>
  <td><%=line_item.quantity %>&times;</td>
  <td><%=line_item.product.title %> </td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
    <td class="line_item_delete"><%= button_to 'X', { 
      controller: 'line_items', action: 'decrement', id: line_item.id,
      product_id: line_item.product.id }, remote: true %></td>
</tr>
